.apharism__box{
    margin: 0 auto;
    width: 835px;
    text-align: center;
}

.apharism__span{
    margin-bottom: 35px;
    // text-align: center;
    display: inline-block;
    width: 140px;
    height: 1px;
    border: 1px solid #DBDBDB;
}

.apharism__text{
    margin: 0;
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
}

.apharism__sub-text{
    display: block;
    margin-bottom: 191px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}




