.services__types{
    width: 1223px;
}

.services__title{
    margin: 0;
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    align-items: center;
    text-align: center;
    color: #333333;
    
}

.list__item{
    width: 193px;
    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
}

.list__img{
    display: block;
    padding: 30px 20px 21px;
    // padding-right: 68px;
    // padding-bottom: 21px;
    // padding-left: 71px;
}

.list__title{
    width: 193px;
    height: 215px;
    left: 109px;
    top: 1440px;
    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px; 
}

.services__list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

